@model IEnumerable<DirectoryOrganizations.Models.Category>

<h2>Список категорий</h2>
<p><a asp-action="Create">Добавить категорию</a> </p>
<table class ="table">
	<tr><th>ID</th><th>Наименование</th></tr>
	@foreach (var category in Model)
	{
		<tr>
			<td>@category.Id</td>
			<td>@category.Name</td>
			<td>
				<form asp-action="Edit" asp-controller="Categories" method="get"  asp-route-id="@category.Id">
					<input type="submit" value="Изменить"/>
				</form>
			</td>
			<td>
				<form asp-controller="Categories" asp-action="Delete" method="post"  asp-route-id="@category.Id">
					<input type="submit" value="Удалить" />
				</form>
			</td>
		</tr>
	}
</table>
<form method="post" asp-controller="Categories" asp-action="Back">
	<p>
		<input type="submit" value="Вернуться на главную" />
	</p>
</form>