@model DirectoryOrganizations.Models.Address

<h2>Редактирование адреса</h2>
<form asp-action="edit" asp-controller="addresses" asp-route-id="@Model.Id">
	<p>
		<label asp-for="Location">Адрес</label><br />
		<input type="text" asp-for="Location" />
	</p>
	<p>
		<input type="submit" value="Сохранить" />
	</p>
</form>
